=begin
#Invoicetronic API

#The [Invoicetronic API][2] is a RESTful service that allows you to send and receive invoices through the Italian [Servizio di Interscambio (SDI)][1], or Interchange Service. The API is designed to be simple and easy to use, abstracting away SDI complexity while providing complete control over the invoice send/receive process. It provides advanced features as encryption at rest, multi-language pre-flight invoice validation, multiple upload formats, webhooks, event logging, client SDKs, and CLI tools.  For more information, see  [Invoicetronic website][2]  [1]: https://www.fatturapa.gov.it/it/sistemainterscambio/cose-il-sdi/ [2]: https://invoicetronic.com/

The version of the OpenAPI document: 1
Contact: info@invoicetronic.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module Invoicetronic_Sdk
  class UpdateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List updates
    # Updates are notifications sent by the SDI about the status of invoices you sent.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :company_id Company id
    # @option opts [String] :identifier SDI identifier.
    # @option opts [String] :prestatore Vat number or fiscal code.
    # @option opts [Boolean] :unread Unread items only.
    # @option opts [Integer] :send_id Send item&#39;s id.
    # @option opts [String] :state SDI state
    # @option opts [Time] :last_update_from UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Time] :last_update_to UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Time] :date_sent_from UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Time] :date_sent_to UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :page_size Items per page. Cannot be greater than 200. (default to 100)
    # @option opts [String] :sort Sort by field. Prefix with &#39;-&#39; for descending order. (default to 'last_update')
    # @return [Array<Update>]
    def update_get(opts = {})
      data, _status_code, _headers = update_get_with_http_info(opts)
      data
    end

    # List updates
    # Updates are notifications sent by the SDI about the status of invoices you sent.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :company_id Company id
    # @option opts [String] :identifier SDI identifier.
    # @option opts [String] :prestatore Vat number or fiscal code.
    # @option opts [Boolean] :unread Unread items only.
    # @option opts [Integer] :send_id Send item&#39;s id.
    # @option opts [String] :state SDI state
    # @option opts [Time] :last_update_from UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Time] :last_update_to UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Time] :date_sent_from UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Time] :date_sent_to UTC ISO 8601 (2024-11-29T12:34:56Z)
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :page_size Items per page. Cannot be greater than 200. (default to 100)
    # @option opts [String] :sort Sort by field. Prefix with &#39;-&#39; for descending order. (default to 'last_update')
    # @return [Array<(Array<Update>, Integer, Hash)>] Array<Update> data, response status code and response headers
    def update_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpdateApi.update_get ...'
      end
      allowable_values = ["Inviato", "Consegnato", "NonConsegnato", "Scartato", "AccettatoDalDestinatario", "RifiutatoDalDestinatario", "ImpossibilitaDiRecapito", "DecorrenzaTermini", "AttestazioneTrasmissioneFattura"]
      if @api_client.config.client_side_validation && opts[:'state'] && !allowable_values.include?(opts[:'state'])
        fail ArgumentError, "invalid value for \"state\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'identifier'] = opts[:'identifier'] if !opts[:'identifier'].nil?
      query_params[:'prestatore'] = opts[:'prestatore'] if !opts[:'prestatore'].nil?
      query_params[:'unread'] = opts[:'unread'] if !opts[:'unread'].nil?
      query_params[:'send_id'] = opts[:'send_id'] if !opts[:'send_id'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'last_update_from'] = opts[:'last_update_from'] if !opts[:'last_update_from'].nil?
      query_params[:'last_update_to'] = opts[:'last_update_to'] if !opts[:'last_update_to'].nil?
      query_params[:'date_sent_from'] = opts[:'date_sent_from'] if !opts[:'date_sent_from'].nil?
      query_params[:'date_sent_to'] = opts[:'date_sent_to'] if !opts[:'date_sent_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Update>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"UpdateApi.update_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpdateApi#update_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an update by id
    # Updates are notifications sent by the SDI about the status of invoices you sent.
    # @param id [Integer] Item id
    # @param [Hash] opts the optional parameters
    # @return [Update]
    def update_id_get(id, opts = {})
      data, _status_code, _headers = update_id_get_with_http_info(id, opts)
      data
    end

    # Get an update by id
    # Updates are notifications sent by the SDI about the status of invoices you sent.
    # @param id [Integer] Item id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Update, Integer, Hash)>] Update data, response status code and response headers
    def update_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpdateApi.update_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UpdateApi.update_id_get"
      end
      # resource path
      local_var_path = '/update/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Update'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic']

      new_options = opts.merge(
        :operation => :"UpdateApi.update_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpdateApi#update_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
